.my-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  align-items: center;
  text-align: center;
  padding: 10px;

  margin: 128px -10px -10px;
}
.visitor {
  display: flex;
  font-size: 100px;
  justify-content: center;
}
.i {
  font-size: 50px;
}
.open-close-tag {
  color: rgb(233, 232, 232);
}
.single-div {
  margin-bottom: 200px;
}
