.navbar {
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  margin: auto;
  top: 0;
  left: 0;
  border-bottom: solid 1px var(--primary-color);
  font-size: 23px;
  background: linear-gradient(to top, #56b5da, #cee7eb);
}
ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}
ul > li {
  padding: 30px;
}
.link {
  text-decoration: none;
}
ul > li:hover {
  color: red;
  cursor: pointer;
}
