.skills-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.header {
  font-size: 40px;
  margin-bottom: 100px;
}
.description {
  font-size: 20px;
}
.skills-container {
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr;
}
.one-skill {
  border: solid 2px;
  border-radius: 2px;
  padding: 12px;
}
.one-skill-name {
  font-size: 30px;
  text-align: left;
}
