.skills-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
}

.header {
  font-size: 2.5em;
  margin-bottom: 50px;
  color: #333; /* Dark text color for better contrast */
}

.description {
  font-size: 1.2em;
  color: #555; /* Slightly darker text color for a subtle appearance */
  margin-bottom: 30px;
}

.skills-container {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.one-skill {
  border: solid 2px #ddd; /* Light gray border */
  border-radius: 5px;
  padding: 20px;
  transition: transform 0.3s ease-in-out; /* Add a subtle hover effect */
}

.one-skill:hover {
  transform: scale(1.2); /* Scale up on hover */
}

.one-skill-name {
  font-size: 1.5em;
  text-align: left;
  margin-bottom: 10px;
  color: #333; /* Dark text color for better contrast */
}
