.posts-list-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 50px;
}

.single-post {
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.single-post:hover {
  transform: scale(1.05);
}

.post-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.post-content {
  font-size: 16px;
  color: #555;
  margin-bottom: 15px;
}

.author-name {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.author-name div {
  margin-left: 10px;
  font-size: 14px;
  color: #777;
}
.post-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.delete-post {
  display: flex;
  align-items: center;
}

.delete-btn {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}
.delete-btn:hover {
  background-color: #e96151;
}
